.main {
    height: 70vh; 
}

.container {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #c0cee0;
}

.card {
    display: flex;
    height: 50vh;
    width: 280px;
    margin: 0 auto;
    font-weight: 600;
    justify-content: center;
    border-radius: 24px; 
    border: 2px solid black;
    background-color: white;
    -webkit-box-shadow: 5px 5px 15px -3px #000000; 
    box-shadow: 5px 5px 15px -3px #000000;
}

.item {
    display: flex;
    width: 100%;
    flex-direction: column; 
}

.title {
    font-size: 1.5em;
    border-radius: 20px 20px 0 0px;
    margin: 0;
    height: 40px;
    width: 100%;
    padding-top: 12px;
    text-align: center;
    color: #ffffff;
    background-color: orange;
}

.span {
    color: #004AAD;
}

.adress {
    font-size: 3vh;
    width: 100%;
    margin-top: 4vh;
    color: #004AAD;
}

.body_card {
    height: 40vh;
    font-size: 2vh;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.dash {
    width: 90%;
    margin:auto;
    border-bottom: 1px solid #004AAD;
}

.box {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;  
}

.h3 {
    color: #004AAD;
    margin: 10px auto;
    width: 105px;
}

.btn {
    width: 105px;
    padding: 4px;
    margin: auto;
    color: #004AAD;
    transition: .4s ease-in-out;
    border: 1px solid #004AAD;
    background-color: #ffffff;
}

.btn:hover {
    cursor: pointer;
    color: white;
    background-color: #004AAD ;
}

.box_delete {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    transition: .4s ease-in-out;
    text-align: center;
}

.delete {
    width: 150px;
    padding: 4px;
    margin: 20px auto;
    font-weight: 500;
    color: red;
    border: 1px solid red;
    border-radius: 8px;
    background-color: #ffffff;
}

.delete:hover {
    cursor: pointer;
    color: white;
    background-color: red;
}