.main {
    height: 70vh;
    min-width: 300px;
    max-width: 1000px;
    margin: 0 auto;
    border-left:  2px solid black;
    border-right:  2px solid black;
    background-color: #dee6f1;
}

.btn_container {
    height: 7vh;
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 2vh 0;
}
.btn_add {
    padding: 6px;
    height: 40px;
    color: #004AAD;
    font-weight: bold;
    width: 180px;
    border: 1px solid #004AAD;
    background-color: white;
    border-radius: 12px;
    transition: .4s ease-in-out;
    -webkit-box-shadow: 5px 5px 15px -3px #000000; 
    box-shadow: 5px 5px 15px -3px #000000;
}

.btn_add:hover {
    cursor: pointer;
    color: white;
    background-color: #004AAD;
}

.title {
    text-align: center;
    color: #004AAD;
    height: 5vh;
    background-color: aliceblue;
    margin: 2vh;
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    justify-content: center;
    -webkit-box-shadow: 5px 5px 15px -3px #000000; 
    box-shadow: 5px 5px 15px -3px #000000;
}

.container {
    height: 41vh;
    overflow-y: auto; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
   
}

.row {
    display: flex;
    border-radius: 8px;
    padding-left: 10px;
    font-weight: 700;
    width: 130px;
    height: 50px;
    margin: 10px;  
    font-size: 0.9em;
    background-color: rgb(255, 255, 255);
    transition: .4s ease-in-out;  
    -webkit-box-shadow: 5px 5px 15px -3px #000000; 
    box-shadow: 5px 5px 15px -3px #000000;
}

.row:hover {
    cursor: pointer;
    color: whitesmoke;
    background-color:#6887af;;
}

.icons {
    padding-top: 6px;
}
.p {
    height: 50px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2px; 
}