.footer {
    height: 10vh;
    overflow: hidden;  
    text-align: center;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #004AAD;
}

.link {
    color: whitesmoke;
    text-decoration: none;
    background-color: transparent;
}

.span {
    font-weight: bold;
    color: rgb(255, 255, 255); 
}
