.modal_body {
    height: 100vh;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #004AAD;
}

.form {
    padding: 4px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    width: 100%;
    color: #004AAD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    background-color: white;
    text-align: center;
    height: 10vh;
}

.row {
    display: flex;
    width: 100%;
    margin: 10px 0;
    justify-content: center;
}

.label {
    width: 100px;
    font-weight: bold;
}

.label_adress {
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px;
    width: 100%;
    color: #004AAD;
}

.adress {
    display: flex;
    border: 1px solid black;
    width: 300px;
    flex-direction: column;
    border-radius: 16px;
    margin: 30px auto;
    padding: 8px;
    background-color: aliceblue;
}

.box_btn {
    display: flex;
    width: 100%;
    justify-content: center;
}

.add_btn {
    margin: 16px;
    height: 30px;
    width: 80px;
    border: 1px solid black;
    color: white;  
    background-color: rgb(14, 82, 28);
}

.close_btn {
    margin: 16px;
    height: 30px;
    width: 80px;
    border: 1px solid black;
    color: white;  
    background-color: red;
}

.error {
    color: red;
    text-align: right;
    margin: 0 10px   
}

.input {
    height: 15px;  
}