.modal_body {
    height: 100vh;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: #004AAD;
}

.form {
    padding: 4px;
    height: 89vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    width: 100%;
    color: #004AAD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    background-color: white;
    text-align: center;
    height: 10vh;
}

.row {
    display: flex;
    width: 100%;
    margin: 10px 0;
    justify-content: center;
}

.label {
    width: 100px;
    font-weight: bold;
}

.label_adress {
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px;
    width: 100%;
    color: #004AAD;
}

.adress {
    display: flex;
    border: 2px solid black;
    width: 300px;
    flex-direction: column;
    border-radius: 16px;
    margin: 10px auto;
    padding: 8px;
    background-color: aliceblue;
    -webkit-box-shadow: 5px 5px 15px -3px #000000; 
    box-shadow: 5px 5px 15px -3px #000000;
}

.box_btn {
    display: flex;
    margin: 0 auto;
    width: 300px;
    border-radius: 16px;
    border: 2px solid black;
    background-color: aliceblue;
    justify-content: center;
    -webkit-box-shadow: 5px 5px 15px -3px #000000; 
    box-shadow: 5px 5px 15px -3px #000000;
}

.add_btn {
    margin: 16px;
    height: 30px;
    width: 80px;
    font-weight: bold;
    border-radius: 8px;
    border: 2px solid rgb(14, 82, 28);
    color: rgb(14, 82, 28); 
    background-color: white;
    -webkit-box-shadow: 5px 5px 15px -3px #000000; 
    box-shadow: 5px 5px 15px -3px #000000;
}

.add_btn:hover {
    cursor: pointer;
    color: white;
    background-color:rgb(14, 82, 28);
}

.close_btn {
    margin: 16px;
    height: 30px;
    width: 80px;
    font-weight: bold;
    border-radius: 8px;
    border: 2px solid red;
    color:red;  
    background-color: white;
    -webkit-box-shadow: 5px 5px 15px -3px #000000; 
    box-shadow: 5px 5px 15px -3px #000000;
}

.close_btn:hover {
    cursor: pointer;
    color: white;
    background-color: red;
}

.error {
    color: red;
    text-align: right;
    margin: 0 10px   
}

.input {
    height: 15px;  
}