.header {
    display: flex;
    flex-direction: column-reverse;  
    width: 100%;
    height: 20vh;
    justify-content: center;
    overflow: hidden;
    background-color: #004AAD;
}

.logo_container {
    display: flex;
    justify-content: center;
}

.title { 
    margin: 0;
    width: 100%;
    text-align: center;
    color: whitesmoke; 
}