.main {
    height: 70vh;
    min-width: 300px;
    max-width: 600px;
    margin: 0 auto;
    border-left:  2px solid black;
    border-right:  2px solid black;
    background-color: #6887af;
}

.container {
    position: relative;
    height: 60vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    height: 100px;
    width: 100%;
    border-bottom: 2px solid black;
    background-color: #ffffff;
}

.logo {
    height: 100px;
    width: 100px;
    border-right: 1px solid black
}

.infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: #004AAD;
}

.name {
    display: flex;
    justify-content: center;
    margin: 8px;
    text-align: center;
    color: #ffffff;
}

.status {
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
}

.profit, .expenses {
    display: flex; 
    margin: 4px;
    text-align: center;
    margin-left : 8px;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40vh  
}

.p_infos {
    display: flex;
    margin: 1vh;
    text-align: center;
    margin-left : 8px;
    color: rgb(0, 0, 0);
}

.span_infos {
    color: #004AAD;
    margin-left: 4px;
    position: absolute;
    right: 10px;
    font-weight: bold;  
}

.body {
    height: 30vh;
    display: flex;
    flex-direction: column;
    padding: 8px;
    background-color: #ffffff;
}

.box {
    display: flex;
    justify-content: center;
    width: 100%;
}

.params {
    width: 100px;
    height: 40px;
    padding: 8px;
    z-index: 3;
    color: #004AAD;
    border-radius: 8px;
    font-weight: bold;
    border: 2px solid  #000000;
    transition: .4s ease-in-out;
    -webkit-box-shadow: 5px 5px 15px -3px #000000; 
    box-shadow: 5px 5px 15px -3px #000000;
}

.params:hover {
    cursor: pointer;
    color: white;
    background-color: #004AAD;
}

.warning {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 20vh;
    left: 0;
    height: 70vh; 
    width: 100%;
    z-index: 2;
    line-height: 1.5;
    background: white;
}

.titleWarning {
    font-size: 1.5em;
    margin: 0 auto;
    padding: 8px;
    text-align: center;
    color: #004AAD;
    margin-bottom: 80px;
}

.pWarning {
    margin: 0 auto;
    font-size: 1.2em;
    padding: 8px;
    text-align: center;
    font-weight: 900;
}