.container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;  
}

.form {
    position: relative;
    padding-top: 10vh;
    display: flex;  
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    width: 100%;
    z-index: 2;
    background-color: #a9b8ca;
}

.title {
    color: #004AAD;
    position: absolute;
    top: 0;
    margin: 0;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid black;
    background-color: aliceblue;
}
.label {
    color: #004AAD;
    margin: 10px auto;
    text-align: center;
    font-weight: bold;  
}

.input {
    color: #004AAD;
    margin: 0px auto;
    text-align: center;
    font-weight: bold;  
}

.adress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px auto;
    width: 232px;
    padding: 16px;
    border-radius: 16px;
    border: 2px solid black;
    -webkit-box-shadow: 5px 5px 15px -3px #000000; 
    box-shadow: 5px 5px 15px -3px #000000;
}

.div {
    margin: 0;
    display: flex;
    justify-content: center;
}

.div_error {
    display: flex;
    margin: 0;
    padding: 0;
}

.error_number {
    font-size: 0.8em;
    font-weight: bold;
    color: rgb(161, 12, 12);
    width: 52px;
    margin: 0 4px;
    height: 12px;
}

.error_street {
    font-size: 0.8em;
    font-weight: bold;
    color: rgb(161, 12, 12);
    width: 154px;
    margin: 0 14px;
    height: 12px;
}


.number {
    width: 52px;
    margin-right: 10px;
    font-weight: bold;  
}

.streetName {
    width: 154px;
    font-weight: bold;  
}

.street {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.inputAdress {
   margin: 10px 0 0 0;
   font-weight: bold;  
}

.submit {
    width: 200px;
    height: 40px;
    margin: 20px auto;
    border: 2px solid #004AAD;
    border-radius: 8px;
    color: #004AAD;
    font-weight: bold;
    transition: .4s ease-in-out;
    -webkit-box-shadow: 5px 5px 15px -3px #000000; 
    box-shadow: 5px 5px 15px -3px #000000;
}

.submit:hover {
    cursor: pointer;
    color: white;
    background-color: #004AAD;
}

.btnClose {
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    width: 30px;
    z-index: 10;
    color: white;
    background-color: red;
    -webkit-box-shadow: 5px 5px 15px -3px #000000; 
    box-shadow: 5px 5px 15px -3px #000000;
}

.btnClose:hover {
    cursor: pointer;
    background-color: rgb(141, 0, 0);
}

.error {
    margin: 0 auto;
    font-size: 0.8em;
    font-weight: bold;
    padding: 0;
    color: rgb(161, 12, 12);
}